.navBar {
 width: 99%;
 height: 60px;
 background-color: bisque;
 display: flex;
 align-items: center;
 padding: 20px;
 display: flex;
 
 

}

.title {
    size: 150px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 400px;
}